/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
* {
  	margin: 0px;
  	padding: 0px;
  	box-sizing: border-box;
}
body {
 	background: url(../media/background.jpg) no-repeat center center fixed;
  	background-size: cover;
}
/*navbar*/
.navbar {
  	width: 100%;
  	overflow: hidden;
  	height: 40px;
  	line-height: 40px;
  	border-bottom: 1px solid #ff533d;
  	background-color: #3498DB; 
}
.container {
 	color: #f5f5f5;
  	width: 100%;
  	margin-left: auto;
  	margin-right: auto;
}
.menu {
  	float: none;
}

.menu li {
  	float: left;
  	position: relative;
  	left: 32%;
  	width: 150px;
  	text-align: center;
  	list-style: none;
}
.menu li a {
  	color: #f5f5f5;
 	font-family: 'Raleway', sans-serif;
  	font-size: 2em;
  	text-decoration: none;
  	transition: all 0.3s ease;
}
.menu li a:hover {
  	color: #233237;
}
.title {
  	text-align: center;
  	width: 500px;
  	float: left;
}
.h5{
  	font-family: 'Montserrat', cursive;
  	font-size: 1.45em;
  	font-weight: lighter;
  	color: #Eac67a;
}
/*end of navbar*/
/*main index*/
.logo {
  	background-color: #eac67a;
  	border: solid 4px #ab987a;
}
.srilanka img {
	width: 60%;
  	height: auto;
  	float: right;
  	margin: 10px;
  	box-shadow: 2px 2px 3px #888888;
}
.kandy img {
  	width: 50%;
  	height: auto;
  	float: right;
  	margin: 0px;
  	box-shadow: 2px 2px 3px #888888;
}
.center {
  	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	width: 35%;
  	padding-bottom: 10px;
  	padding-top: 10px;
}
.content {
  	background-color: #DC7633;
  	width: 70%;
  	margin: auto;
  	border-left: 1px solid #f5f5f5;
  	border-right: 1px solid #f5f5f5;
}
.text {
  	background-color: #f5f5f5;
  	width:95%;
  	margin: auto;
  	padding: 70px 50px;
  	font-family: 'Mali', sans-serif;
  	border-left: 5px solid #eac67a;
  	border-right: 5px solid #eac67a;
}
.text p {
  	text-indent: 25px;
  	line-height: 1.5em;
}
.textheading {
  	text-align: center;
  	margin-bottom: 10px;
  	margin-top: 10px;
  	font-family: 'Source+Sans+Pro', cursive;
}
h1.textheading {
  	font-size: 2.65em;
}
/*end of main*/
/*resume*/
.resume {
  	background-color: #ab987a;
  	width: 70%;
  	margin-right: auto;
  	margin-left: auto;
  	padding: 60px 40px;
  	border-left: 1px solid #f5f5f5;
 	border-right: 1px solid #f5f5f5;
}
.info li {
 	text-align: center;
 	list-style: none;
}
.resumebody h2 {
	text-align: center;
}
.resume h3 {
  	text-align: center;
	margin-bottom: 5px;
}

.header {
  	text-align: center;
  	margin-bottom: 5px;
}
.header li {
  	text-decoration: none;
  	overflow: scroll;
	text-align: right;
}

.header h2 {
  	float: left;
}
h1.textheading {
 	font-size: 2.65em;
}
h2.textheading {
  	font-size: 1.80em;
  	text-align: left;
}
h3.textheading {
  	font-size: 1.5em;
  	text-align: left;
}
h4 {
  	margin-left: 4%;
}
/*end of resume*/
/*Japan*/
img.japan{
  	width: 50%;
  	height: auto;
  	float: right;
  	margin: 20px;
  	box-shadow: 2px 2px 3px #888888;
}
.media p {
  	text-indent: 25px;
  	line-height: 1.35em;
}
video {
  	margin: 40px;
  	width:50%;
  	float: right;
}
/*end of Japan*/